@font-face {
    font-family: rondo;
    src: url("../etch-a-sketch/rondo.ttf") format('truetype');
}



#grid{
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
    background-color: #757e8a;
    margin: 0 auto;
    border-radius: 5px;
    border: 40px solid maroon;
}
.inputs{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid-square{
    border: 1px solid black;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: rondo, sans-serif;
    font-size: large;
    background-color: #f3f1e0;
}

.length-inputs{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

h2{
    margin: 11px;
}

button{
    background-color: #feda3e;
    border: 1px solid black;
    border-radius: 5px;
    font-family: rondo;
    font-size: large;

}


