#grid{
    width: 400px;
    height: 400px;
    display: grid;
    border: 20px solid maroon;
    border-radius: 5%;
}
.grid-square{
    border: 1px solid black;
    box-sizing: border-box;
}

.grid-square:hover{
    background-color: black;
}

